body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: $size-body;
  line-height: $lh-body;
  color: $dark;
  background-color: $silver-100;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.lock,
.lock--mobile-catalog {
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: $padding-section;

  @include r(1200) {
    padding: 50px 0;
  }

  @include r(992) {
    padding: 40px 0;
  }

  @include r(768) {
    padding: 30px 0;
  }

  @include r(560) {
    padding: 20px 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.animation {
  border-radius: 5px;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s, border 0.5s, text-shadow 0.5s, display 0.5s;

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:hover {
    color: $orange-900;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.category__list .mixitup-control-active {
  background-color: $orange-900;
  color: $color-white;

  .category__icon {
    fill: $color-white;
  }
}

.logo {
  border-radius: 5px;
  transition: box-shadow 0.5s, opacity 0.5s;

  &__img {
    width: 200px;
    height: 39px;
    object-fit: cover;

    @include r(992) {
      .logo__img:not(.logo--mobile, .logo--footer) {
        width: 180px;
        height: 30px;
      }
    }

    @include r(768) {
      &:not(.logo--mobile, .logo--footer) {
        width: 160px;
        height: 25px;
      }
    }

    @include r(560) {
      &:not(.logo--mobile, .logo--footer) {
        width: 116px;
        height: 23px;
      }
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.title {
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  color: $darkBlue-900;
  font-size: $size-title;
  line-height: 1.3;
  @include line-clamp(2);

  @include r(1200) {
    font-size: 32px;
  }

  @include r(992) {
    font-size: 30px;
  }

  @include r(768) {
    font-size: 26px;
  }

  @include r(560) {
    font-size: 24px;
  }
}

.btn {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  padding: 12px 32px;
  border-radius: 6px;
  background-color: $orange-900;
  color: $color-white;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

  &:focus {
    background-color: rgba(255, 122, 80, 0.1);
    color: $orange-900;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:hover {
    background-color: $color-white;
    color: $orange-900;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:active {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: none;
  }
}

.link {
  position: relative;
  color: $darkBlue-900;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $darkBlue-900;
    transition: display 0.5s, background-color 0.5s;
  }

  &:focus {
    &::before {
      display: none;
    }
  }

  &:hover {
    &::before {
      display: none;
    }
  }

  &:active {
    color: $darkBlue-900;
    box-shadow: none;
  }
}

.filter {
  position: relative;
  background-color: $color-white;
  border: 1px solid $color-filter;
  border-radius: 5px;
  padding: 15px 15px 25px 15px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: $darkBlue-900;
    letter-spacing: 0.03em;
    line-height: 1.2;
    padding-bottom: 15px;
    margin-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      top: 58px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $color-filter;
    }
  }
}