html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

button {
  appearance: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a,
input,
button,
textarea {
  font: inherit;
  outline: transparent;
}

address {
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}