$size-body: 20px;
$lh-body: 1.5;
$silver-100: #f9faff;
$padding-section: 60px 0;

$dark: #31352b;
$orange-900: #ff6838;
$color-white: #ffffff;
$darkBlue-900: #363853;
$gray: #c2c2c2;
$arrow: #C1C1C1;
$fill: #fff2ed;
$color-bs: 0 0 0 2px rgba(255, 104, 56, 0.7);
$peach: #ffae94;
$color-breadcrumbs: rgba(255, 122, 80, 0.1);
$color-filter: #ECECEC;
$color-brand: #FAEDED;

$size-title: 36px;

$burgerWidth: 30px;
$burgerHeight: 20px;
$burgerLineHeight: 2px;
$burgerColor: $darkBlue-900;

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

%background-image {
  background: center center no-repeat;
  background-size: cover;
}

%mask {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

%input-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}