.mobile-catalog {
  z-index: 20;
  background-color: $color-white;
  max-width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px;
  transform: translateX(-500%);
  transition: transform 0.7s;
  height: 100vh;
  overflow-y: auto;

  &--active {
    transform: translateX(0%);
  }

 

  .catalog-products__filtres {
    display: block;
  }
}