.breadcrumbs {
  padding: 24px 0;
  background-color: $color-breadcrumbs;

  &__nav {

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      position: relative;

      &:not(:last-child) {
        padding-right: 12px;
        margin-right: 5px;

        ::after {
          content: "";
          position: absolute;
          right: 0;
          top: 12px;
          width: 11px;
          height: 11px;
          @extend %background-image;
          @extend %mask;
          background-color: $arrow;
          -webkit-mask-image: url("../images/sprite.svg#arrow");
          mask-image: url("../images/sprite.svg#arrow");
        }
      }
    }

    a {
      font-size: 14px;
      letter-spacing: 0.03em;
      color: #505050;
      line-height: 1.2;
    }
  }

  @include r(560) {
    padding: 17px 0;
  }
}