.pagination {
  @extend %flex;
  max-width: 372px;
  width: 100%;
  margin: 0 auto;

  &__item {

    @include r(400) {
      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    @extend %flex-center;
    border-radius: 3px;
    width: 48px;
    height: 48px;
    color: $darkBlue-900;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1;
    background-color: $color-brand;
    transition: border 0.5s,
      border-color 0.5s,
      background-color 0.5s,
      color 0.5s,
      box-shadow 0.5s;


    &--prev,
    &--next {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 18px;
        @extend %background-image;
        @extend %mask;
        background-color: $darkBlue-900;
        -webkit-mask-image: url("../images/sprite.svg#pagination-arrow");
        mask-image: url("../images/sprite.svg#pagination-arrow");
        transition: background-color 0.5s;
        border: none;
        transition: background-color 0.5s;
      }
    }

    &--disabled {
      &::before {
        background-color: $gray;
      }
    }

    &--next {
      &::before {
        transform: translate(-50%, -50%) scaleX(-1);
      }
    }

    &--active {
      border: 1px solid $darkBlue-900;
    }

    &:hover:not(.pagination__link--disabled):not(.pagination__link--more) {
      border-color: transparent;
      background-color: $orange-900;
      color: $color-white;
    }

    &:active:not(.pagination__link--disabled):not(.pagination__link--more) {
      box-shadow: inset 0 -1px 4px 2px rgba(0, 0, 0, 0.15);
      background-color: $color-brand;
      border-color: transparent;
      color: $darkBlue-900;
    }

    &:focus:not(.pagination__link--disabled):not(.pagination__link--more) {
      box-shadow: 0 0 0 2px $orange-900;
      border-color: transparent;
    }
  }
  @include r(560) {
  display: flex;
  justify-content: center;
  gap: 6px;
  }
}