<section class="promo">
  <div class="container">
    <div class="promo__content" style="background-image: url('images/header__content/header-bg.png')">
      <div class="promo__info">
        <h1 class="sr-only">SimpleFood - лучшая доставка еды</h1>
        <h2 class="promo__title">
          Доставка
          <span>за 15 минут</span>
        </h2>
        <p class="promo__text">
          Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок -
          доставка за наш счёт
        </p>
        <a class="promo__btn btn" href="#category"> Заказать </a>
        <a class="link animation" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>