<section class="app section">
  <div class="container">
    <div
      class="app__inner"
      style="background-image: url('/images/app-section/app-bg.jpg')"
    >
      <h3 class="app__title title">Скачайте мобильное приложение</h3>
      <p>
        Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение
        и заказывайте еду в любом удобном месте.
      </p>
      <a
        class="app__link app__link--appstore"
        href="#"
        target="_blank"
        style="background-image: url('/images/app-section/icons/app-icon.svg')"
        ><span class="sr-only">Скачать приложение через AppStore</span></a
      >
      <a
        class="app__link app__link--googleplay"
        href="#"
        target="_blank"
        style="
          background-image: url('/images/app-section/icons/googleplay-icon.svg');
        "
        ><span class="sr-only">Скачать приложение через GooglePlay</span></a
      >
    </div>
  </div>
</section>
