<section class="category section" id="category">
  <div class="container">
    <h2 class="category__title title">Популярные категории</h2>
    <ul class="category__list">
      <li class="category__item">
        <button class="category__btn" type="button" data-filter="all">
          <svg class="category__icon">
            <use xlink:href="images/sprite.svg#category-burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="category__item">
        <button class="category__btn" type="button" data-filter=".category-pizza">
          <svg class="category__icon">
            <use xlink:href="images/sprite.svg#category-pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="category__item">
        <button class="category__btn" type="button" data-filter=".category-sandwich">
          <svg class="category__icon">
            <use xlink:href="images/sprite.svg#category-sandwich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="category__item">
        <button class="category__btn" type="button" data-filter=".category-asian">
          <svg class="category__icon">
            <use xlink:href="images/sprite.svg#category-asian"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="category__item">
        <button class="category__btn" type="button" data-filter=".category-seth">
          <svg class="category__icon">
            <use xlink:href="images/sprite.svg#category-seth"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>

    <ul class="category__food-box">
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item1.png" alt="Чизбургер с листьями салата" />
          <h3 class="product-card__name">Чизбургер с листьями салата</h3>
          <div class="product-card__price">160 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item2.png" alt="Бифбургер" />
          <h3 class="product-card__name">Бифбургер</h3>
          <div class="product-card__price">190 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item3.png" alt="Королевский чизбургер" />
          <h3 class="product-card__name">Королевский чизбургер</h3>
          <div class="product-card__price">260 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item4.png" alt="Черный гамбургер" />
          <h3 class="product-card__name">Черный гамбургер</h3>
          <div class="product-card__price">199 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item5.png" alt="Чикен бургер" />
          <h3 class="product-card__name">Чикен бургер</h3>
          <div class="product-card__price">180 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item1.png" alt="Чизбургер с листьями салата" />
          <h3 class="product-card__name">Чизбургер с листьями салата</h3>
          <div class="product-card__price">160 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item2.png" alt="Бифбургер" />
          <h3 class="product-card__name">Бифбургер</h3>
          <div class="product-card__price">190 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item3.png" alt="Королевский чизбургер" />
          <h3 class="product-card__name">Королевский чизбургер</h3>
          <div class="product-card__price">260 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item4.png" alt="Черный гамбургер" />
          <h3 class="product-card__name">Черный гамбургер</h3>
          <div class="product-card__price">199 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="category__food mix category-burger">
        <article class="product-card">
          <img class="product-card__img" src="images/category/category-item5.png" alt="Чикен бургер" />
          <h3 class="product-card__name">Чикен бургер</h3>
          <div class="product-card__price">180 <span>грн.</span></div>
          <button class="product-card__cart btn" type="button">
            В корзину
          </button>
        </article>
      </li>
    </ul>
    <a class="category__link link animation" href="">Показать еще</a>
  </div>
</section>