<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__subscribe">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="логотип" />
        </a>
        <form class="form" action="#">
          <label for="email"
            ><span class="sr-only">Поле для ввода email почты</span></label
          >
          <input
            class="form__email"
            type="email"
            name="email"
            id="email"
            placeholder="Ваш email"
            required
          />
          <button class="form__subscribe btn" type="submit">
            <svg class="form__icon">
              <use xlink:href="images/sprite.svg#subscribe"></use>
            </svg>
            Подписаться
          </button>
        </form>
      </div>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Как это работает </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Продукты </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Блюда </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Меню </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link animation"> О нас </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Новости </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Партнеры </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> ЧаВо </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Скачать приложение </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Блог </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Что нового? </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link animation"> Карта сайта </a>
          </li>
        </ul>
      </nav>
      <div class="footer__contacts">
        <address class="address">
          <ul class="address__list">
            <li class="address__item">
              <a class="address__link address__link--place" href="#">
                ул. Т.Г.Шевченко, 1
              </a>
            </li>
            <li class="address__item">
              <a
                class="address__link address__link--phone"
                href="tel:+380501112233"
              >
                380501112233
              </a>
            </li>
            <li class="address__item">
              <a
                class="address__link address__link--mail"
                href="mailto:support@sfood.com"
              >
                support@sfood.com
              </a>
            </li>
          </ul>
        </address>
        <ul class="socials-list">
          <li class="socials-list__item">
            <a
              class="socials-list__link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials-list__icon socials-list__icon--facebook">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
              <span class="sr-only">Перейти в Facebook</span>
            </a>
          </li>
          <li class="socials-list__item">
            <a
              class="socials-list__link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials-list__icon socials-list__icon--twitter">
                <use xlink:href="images/sprite.svg#twitter"></use>
              </svg>
              <span class="sr-only">Перейти в Twitter</span>
            </a>
          </li>
          <li class="socials-list__item">
            <a
              class="socials-list__link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials-list__icon socials-list__icon--instagram">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
              <span class="sr-only">Перейти в Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <span class="footer__line"></span>
  <div class="footer__copy">© 2022 Simple Food</div>
</footer>
