<header class="header">
  <div class="header__top">
    <div class="container">
      <nav class="header__menu">
        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="логотип" />
        </a>
        <ul class="menu">
          <li class="menu__item">
            <a href="" class="menu__link menu__link--active animation">
              Главная
            </a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link animation"> Блюда </a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link animation"> Контакты </a>
          </li>
        </ul>
        <ul class="header__buttons">
          <li class="header__button">
            <button class="header__btn animation" type="button">
              <span class="sr-only">Поиск по сайту</span>
              <svg class="header__icon">
                <use xlink:href="images/sprite.svg#search-btn"></use>
              </svg>
            </button>
          </li>
          <li class="header__button">
            <button class="header__btn animation" type="button">
              <span class="sr-only">Перейти в "корзину"</span>
              <svg class="header__icon">
                <use xlink:href="images/sprite.svg#cart-btn"></use>
              </svg>
              <span>4</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
