<section class="marketing section">
  <div class="container">
    <div
      class="marketing__inner"
      style="background-image: url('/images/marketing/marketing-bg.png')"
    >
      <div class="marketing__info">
        <h3 class="marketing__title title">
          Оставайтесь дома, а мы позаботимся о еде
        </h3>
        <p class="marketing__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой!
          Воспользуйтесь нашей доставкой прямо сейчас и получите скиидку!
        </p>
        <ul class="marketing__list">
          <li class="marketing__item marketing__item--time">
            Быстрая доставка за 15 минут
          </li>
          <li class="marketing__item marketing__item--delivery">
            Вежливые курьеры
          </li>
          <li class="marketing__item marketing__item--places">
            Более 500 заведений
          </li>
        </ul>
        <a class="marketing__btn btn" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>
