<section class="restaurants section">
  <div class="container">
    <h2 class="restaurants__title title">Лучшие рестораны</h2>
    <ul class="restaurants__list">
      <li class="restaurants__item">
        <article class="restaurants-card">
          <img class="restaurants-card__img" src="images/restaurants/restaurants__item1.jpg" alt="Пицца на сковороде"
            width="370" height="300" />
          <h3 class="restaurants-card__title">Blaze Pizza</h3>
          <div class="restaurants-card__info">
            <time class="restaurants-card__time">11:00 - 22:00</time>
            <a class="restaurants-card__link btn" href="#">
              <svg class="restaurants-card__icon">
                <use xlink:href="images/sprite.svg#arrow-icon"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurants-card">
          <img class="restaurants-card__img" src="images/restaurants/restaurants__item2.jpg" alt="Пицца на столе"
            width="370" height="300" />
          <h3 class="restaurants-card__title">Pizza Runcho</h3>
          <div class="restaurants-card__info">
            <time class="restaurants-card__time">12:00 - 21:00</time>
            <a class="restaurants-card__link btn" href="#">
              <svg class="restaurants-card__icon">
                <use xlink:href="images/sprite.svg#arrow-icon"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurants-card">
          <img class="restaurants-card__img" src="images/restaurants/restaurants__item3.jpg" alt="Пицца на подносе"
            width="370" height="300" />
          <h3 class="restaurants-card__title">Pizza Hut</h3>
          <div class="restaurants-card__info">
            <time class="restaurants-card__time">11:00 - 22:00</time>
            <a class="restaurants-card__link btn" href="#">
              <svg class="restaurants-card__icon">
                <use xlink:href="images/sprite.svg#arrow-icon"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurants-card">
          <img class="restaurants-card__img" src="images/restaurants/restaurants__item4.jpg" alt="Бургер" width="370"
            height="300" />
          <h3 class="restaurants-card__title">McDonald`s</h3>
          <div class="restaurants-card__info">
            <time class="restaurants-card__time">06:00 - 23:00</time>
            <a class="restaurants-card__link btn" href="#">
              <svg class="restaurants-card__icon">
                <use xlink:href="images/sprite.svg#arrow-icon"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurants-card">
          <img class="restaurants-card__img" src="images/restaurants/restaurants__item5.jpg" alt="Картошка фри и бургер"
            width="370" height="300" />
          <h3 class="restaurants-card__title">KFC</h3>
          <div class="restaurants-card__info">
            <time class="restaurants-card__time">06:00 - 23:30</time>
            <a class="restaurants-card__link btn" href="#">
              <svg class="restaurants-card__icon">
                <use xlink:href="images/sprite.svg#arrow-icon"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurants-card">
          <img class="restaurants-card__img" src="images/restaurants/restaurants__item6.jpg"
            alt="Черный бургер с картошкой фри" width="370" height="300" />
          <h3 class="restaurants-card__title">Star Burgers</h3>
          <div class="restaurants-card__info">
            <time class="restaurants-card__time">09:00 - 21:00</time>
            <a class="restaurants-card__link btn" href="#">
              <svg class="restaurants-card__icon">
                <use xlink:href="images/sprite.svg#arrow-icon"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>