.foodstuff {
  position: relative;

  &__inner {
    display: flex;
    margin-bottom: 91px;

    @include r(992) {
      flex-direction: column;
      margin-bottom: 75px;
    }

    @include r(560) {
      margin-bottom: 60px;
    }
  }

  &__slider {
    position: relative;
    max-width: 610px;
    width: 100%;
    margin-right: 30px;
    padding: 75px 105px;
    background-color: $color-white;
    box-shadow: 0 0 0 1px $color-filter;
    border-radius: 5px;

    @include r(1200) {
      width: 50%;
    }

    @include r(992) {
      width: 100%;
      max-width: none;
      margin-bottom: 30px;
    }

    @include r(768) {
      padding: 22px;
    }

  }

  &__img {
    width: 400px;
    height: 400px;
    object-fit: cover;

    @include r(1200) {
      width: 350px;
      height: 350px;
    }

    @include r(992) {
      margin: 0 auto;
    }

    @include r(560) {
      width: 300px;
      height: 300px;
    }
  }

  &__info {
    max-width: 531px;
    width: 100%;


    @include r(992) {
      max-width: none;
    }

  }

  &__title {
    margin-bottom: 30px;

    @include r(992) {
      font-size: 32px;
      margin: 0 auto 25px 0;
    }

    @include r(768) {
      font-size: 28px;
      margin-bottom: 20px;
    }

    @include r(560) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  &__rating {
    margin-bottom: 25px;

    @include r(768) {
      margin-bottom: 20px;
    }

    @include r(560) {
      margin-bottom: 15px;
    }
  }

  &__price {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    color: $darkBlue-900;
    margin-bottom: 20px;
    @include line-clamp(1);
  }

  &__link {

    @include r(768) {
      font-size: 18px;
    }

    @include r(560) {
      font-size: 16px;
    }
  }

  &__btn {
    position: relative;
    font-size: 14px;
    padding: 13px 38px 13px 70px;

    svg {
      position: absolute;
      content: "";
      top: 14px;
      left: 38px;
      @extend %background-image;
      width: 16px;
      height: 16px;
      stroke: $color-white;
      transition: stroke 0.5s;
    }

    &:hover,
    &:active,
    &:focus {
      svg {
        stroke: $orange-900;
      }
    }

    @include r(992) {
      display: block;
    }
  }

  &__form {
    margin-bottom: 30px;
  }

  &__subtitle {
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $darkBlue-900;
    padding-bottom: 15px;
    margin-bottom: 20px;
    @include line-clamp(1);

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #E4E4E4;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @include r(992) {
      font-size: 22px;
    }

    @include r(768) {
      font-size: 20px;
    }

    @include r(560) {
      font-size: 18px;
    }
  }

  &__list {
    margin-bottom: 20px;

    @include r(560) {
      margin-bottom: 7px;
    }
  }

  &__list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #505050;
    @include line-clamp(3);
  }

  &__icon {
    fill: transparent;
  }

  @include r(560) {
    padding: 31px 0;
  }
}

.fancybox__backdrop {
  background: $color-white;
}


.carousel__dots .carousel__dot:after {
  width: 15px;
  height: 15px;
  background-color: $gray;
  opacity: 1;
}

.carousel__dots {
  bottom: 20px;
  top: auto;
}

.carousel__dots .carousel__dot.is-selected:after {
  background-color: $orange-900;
}

.carousel__dots .carousel__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: box-shadow 0.5s;

  &::after {
    transition: background-color 0.5s;
  }

  &:focus {
    box-shadow: 0 0 0 2px $orange-900;

    .carousel__dot:after {
      background-color: $gray;
    }
  }

  &:hover {
    box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);

    &:after {
      background-color: #FFF2ED;
    }
  }

  &:active {
    box-shadow: none;

    &:after {
      background-color: #FFAE94;
      ;
    }

  }

  &:not(:last-child) {
    margin-right: 15px;
  }

}

.carousel__slide {
  width: 100%;
  max-width: 100%;

  @include r(1200) {
    width: 350px;
    padding: 0;
  }

  @include r(992) {
    width: 100%;
  }

  @include r(768) {}

  @include r(560) {}
}

.carousel__button svg {
  stroke: rgba(0, 0, 0, 0.15);
}

.carousel__button.is-next svg,
.carousel__button.is-prev svg {
  stroke: #505050;
}

.carousel__button.is-next,
.carousel__button.is-prev {

  @include r(560) {
    display: none;
  }
}