.rating-box {
  @include r(560) {
    margin-top: 15px;
    width: 100%;
  }
}

.rating-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rating-area {
  overflow: hidden;
  width: 104px;
  display: flex;
  margin-left: 15px; // исключение
  flex-direction: row-reverse;
}

.rating-area:not(:checked)>input {
  display: none;
}

.rating-area:not(:checked)>label {
  width: 50px;
  padding: 0;
  cursor: pointer;
  font-size: 23px;
  line-height: 1;
  color: #C1C1C1;
}

.rating-area:not(:checked)>label:before {
  content: '★';
}

.rating-area>input:checked~label {
  color: #FFB800;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
  color: #FFB800;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
  color: #FFB800;
}

.rate-area>label:active {
  position: relative;
}