<section class="foodstuff section">
  <div class="container">
    <div class="foodstuff__inner">
      <div class="foodstuff__slider carousel" id="myCarousel">
        <div class="foodstuff__item carousel__slide" data-src="images/foodstuff/big-items/item1.png"
          data-fancybox="gallery">
          <img class="foodstuff__img" alt="Чизбургер с листьями салата" width="400" height="400"
            src="images/foodstuff/item1.png" data-lazy-src="images/foodstuff/item1.png">
        </div>
        <div class="foodstuff__item carousel__slide" data-src="images/foodstuff/big-items/item1.png"
          data-fancybox="gallery">
          <img class="foodstuff__img" alt="Чизбургер с листьями салата" width="400" height="400"
            src="images/foodstuff/item1.png" data-lazy-src="images/foodstuff/item1.png">
        </div>
        <div class="foodstuff__item carousel__slide" data-src="images/foodstuff/big-items/item1.png"
          data-fancybox="gallery">
          <img class="foodstuff__img" alt="Чизбургер с листьями салата" width="400" height="400"
            src="images/foodstuff/item1.png" data-lazy-src="images/foodstuff/item1.png">
        </div>
      </div>
      <div class="foodstuff__info">
        <h1 class="foodstuff__title title">
          Чизбургер с листьями салата
        </h1>
        <div class="foodstuff__rating rating" data-rateyo-rating="4">
        </div>
        <div class="foodstuff__price">
          160 грн.
        </div>
        <form class="foodstuff__form" action="#">
          <label for="count"></label>
          <input class="foodstuff__input" name="count" id="count" type="number" value="1" min="1">

          <button class="foodstuff__btn btn" type="button">
            <svg class="header__icon">
              <use xlink:href="images/sprite.svg#cart-btn"></use>
            </svg>
            Добавить в корзину
          </button>
        </form>
        <h2 class="foodstuff__subtitle">
          Доставка и оплата
        </h2>
        <ul class="foodstuff__list">
          <li class="foodstuff__list-item">
            Минимальная сумма заказа — 160 грн.
          </li>
          <li class="foodstuff__list-item">
            Время доставки заказа — 80-140 мин.
          </li>
          <li class="foodstuff__list-item">
            Оплата осуществляется только банковской картой.
          </li>
          <li class="foodstuff__list-item">
            Окончательная сумма заказа формируется после сбора товаров.
          </li>
        </ul>
        <a class="foodstuff__link link animation" href="#">Подробнее</a>
      </div>
    </div>
    <div class="tabs">

      <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
      <label for="tab-btn-1">Описание</label>

      <input type="radio" name="tab-btn" id="tab-btn-2" value="">
      <label for="tab-btn-2">Характеристики</label>

      <input type="radio" name="tab-btn" id="tab-btn-3" value="">
      <label for="tab-btn-3">Отзывы (2)</label>

      <div class="tabs__descr" id="tabs__descr">
        <ul class="tabs__descr-list">
          <li>Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер», кетчупом,
            горчицей, луком и маринованными огурчиками.
          </li>
          <li>Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
          </li>
          <li>Внешний вид товара может отличаться от изображений, представленных на сайте.
          </li>
        </ul>
      </div>
      <div class="tabs__specific" id="tabs__specific">
        <ul class="tabs__specific-list">
          <li>Диаметр:
            <span>
              20 см
            </span>
          </li>
          <li>Вес:
            <span>
              300 гр
            </span>
          </li>
          <li>
            Калорийность (на 100г):
            <span>
              295 ккал
            </span>
          </li>
          <li>Срок хранения:
            <span>
              до 3 дней
            </span>
          </li>
        </ul>
      </div>
      <div class="tabs__reviews" id="tabs__reviews">
        <h2 class="tabs__reviews-title">
          Мнения наших клиентов
        </h2>
        <ul class="tabs__reviews-list">
          <li class="tabs__reviews-item">
            <div class="tabs__reviews-top">
              <a class="tabs__reviews-link" href="#">
                <img class="tabs__reviews-img" src="images/foodstuff/review-item.png" alt="Фотография автора" width="70"
                  height="70">
              </a>
              <a class="tabs__reviews-link tabs__reviews-link--author" href="#">
                <div class="tabs__reviews-author">
                  Андрей
                  <span>10.06.2021</span>
                </div>
              </a>
              <div class="rating-box">
                <div class="rating" data-rateyo-rating="5">
                </div>
              </div>

            </div>
            <div class="tabs__reviews-comment">
              Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))
            </div>
          </li>
          <li class="tabs__reviews-item">
            <div class="tabs__reviews-top">
              <a class="tabs__reviews-link" href="#">
                <img class="tabs__reviews-img" src="images/foodstuff/review-item.png" alt="Фотография автора" width="70"
                  height="70">
              </a>
              <a class="tabs__reviews-link tabs__reviews-link--author" href="#">
                <div class="tabs__reviews-author">
                  Екатерина Белая
                  <span>7.06.2021</span>
                </div>
              </a>
              <div class="rating-box">
                <div class="rating" data-rateyo-rating="4">
                </div>
              </div>
            </div>
            <div class="tabs__reviews-comment">
              этот бургер неплохой чтобы перекусить, когда нет возможности или времени что-нибудь приготовить.
              Это отличный вариант, чтобы съесть на ходу, но чтобы побаловать себя, я больше предпочту пиццу
            </div>
          </li>
        </ul>
        <form class="tabs__reviews-form" action="#">
          <h2 class="tabs__reviews-title">
            Оставить отзыв
          </h2>
          <div class="rating-wrapper">
            <label>Ваша оценка *</label>
            <div class="rating-area">
              <input type="radio" id="star-5" name="rating" value="5" required>
              <label for="star-5" title="Оценка «5»"></label>
              <input type="radio" id="star-4" name="rating" value="4" required>
              <label for="star-4" title="Оценка «4»"></label>
              <input type="radio" id="star-3" name="rating" value="3" required>
              <label for="star-3" title="Оценка «3»"></label>
              <input type="radio" id="star-2" name="rating" value="2" required>
              <label for="star-2" title="Оценка «2»"></label>
              <input type="radio" id="star-1" name="rating" value="1" required>
              <label for="star-1" title="Оценка «1»"></label>
            </div>
          </div>

          <div class="tabs__reviews-inner">
            <div class="tabs__reviews-textareabox">
              <label for="review">Ваш отзыв *</label>
              <textarea class="tabs__reviews-features" id="review" name="review" placeholder="Введите текст отзыва"
                required></textarea>
            </div>
            <ul class="tabs__reviews-inputbox">
              <li class="tabs__reviews-input">
                <label for="name">Имя</label>
                <input class="tabs__reviews-features" type="text" id="name" name="name" placeholder="Введите ваше имя">
              </li>
              <li class="tabs__reviews-input">
                <label for="email">Email *</label>
                <input class="tabs__reviews-features" type="email" id="email" name="email"
                  placeholder="youremail@mail.com" required>
              </li>
            </ul>
          </div>

          <div class="tabs__reviews-checkbox">

            <input type="checkbox" id="save" name="save">
            <span class="checkbox-style"></span>
            <label for="save"></label>
            <span class="text">Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих
              комментариев.</span>
          </div>

          <button type="submit" class="tabs__reviews-btn btn">
            Оставить отзыв
          </button>
        </form>
      </div>
    </div>
  </div>
</section>