<section class="others section">
  <div class="container">
    <h2 class="others__title title">
      Вас может заинтересовать
    </h2>
    <div class="others__inner">
      <ul class="others__slider">
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item1.png" alt="Чизбургер с листьями салата"
                width="140" height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">Чизбургер с листьями салата
              </h3>
            </a>
            <div class="product-card__price">160 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item2.png" alt="Бифбургер" width="140"
                height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">
                Бифбургер
              </h3>
            </a>
            <div class="product-card__price">190 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item3.png" alt="Королевский чизбургер"
                width="140" height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">
                Королевский чизбургер
              </h3>
            </a>
            <div class="product-card__price">260 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item4.png" alt="Черный гамбургер" width="140"
                height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">
                Черный гамбургер
              </h3>
            </a>
            <div class="product-card__price">199 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item5.png" alt="Чикен бургер" width="140"
                height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">
                Чикен бургер
              </h3>
            </a>
            <div class="product-card__price">180 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item1.png" alt="Чизбургер с листьями салата"
                width="140" height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">Чизбургер с листьями салата
              </h3>
            </a>
            <div class="product-card__price">160 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item2.png" alt="Бифбургер" width="140"
                height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">
                Бифбургер
              </h3>
            </a>
            <div class="product-card__price">190 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item3.png" alt="Королевский чизбургер"
                width="140" height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">
                Королевский чизбургер
              </h3>
            </a>
            <div class="product-card__price">260 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item4.png" alt="Черный гамбургер" width="140"
                height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">
                Черный гамбургер
              </h3>
            </a>
            <div class="product-card__price">199 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
        <li class="others__item">
          <article class="product-card">
            <a class="product-card__link" href="foodstuff-page.html">
              <img class="product-card__img" src="images/category/category-item5.png" alt="Чикен бургер" width="140"
                height="140">
            </a>
            <a class="product-card__link" href="foodstuff-page.html">
              <h3 class="product-card__name">
                Чикен бургер
              </h3>
            </a>
            <div class="product-card__price">180 <span>грн.</span></div>
            <button class="product-card__cart btn" type="button">
              В корзину
            </button>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>